.ScreenOver {
filter:alpha(opacity=40);
margin: 0px; padding: 0px; background: rgb(204, 204, 204) none repeat scroll 0%; display: block; left: 0px; top: 0px; width: 100%; height: expression(document.body.scrollHeight+'px'); position: absolute; z-index: 3; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial; opacity: 0.4;
}
.DialogMove {
border: 3px solid rgb(90, 90, 90); margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0%; display: block;height: 150px; z-index: 10; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial;
}

#DialogTitle {
	background:#EEEEEE none repeat scroll 0%;
	height:15px;
	padding:10px;
	color:#000000;
	font-family:Arial,Helvetica,sans-serif;
	font-size:12px;
	table-layout:fixed;
}
#DialogTitle #DialogTitleBtn {
background:transparent url(http://static.dianping.com/Comm/Images/KillBtn.gif) no-repeat scroll 0pt;
border:1px solid #EEEEEE;
cursor:pointer;
float:right;
font-size:0pt;
height:14px;
margin-left:10px;
padding:0pt;
width:14px;
}
#DialogTitle #DialogTitleText {
color:#C51100;
float:left;
font-size:14.8px;
font-weight:bold;
}
#DialogContent {
color:#000000;
font-size:10pt;
line-height:18pt;
padding:10px;
}
#DialogButtons {
padding:10px;
text-align:center;
}
#DialogButtons {
text-align:left;
}