<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title><?=$title?> - 论文搜索 - hemon.cn</title>
<link rel="SHORTCUT ICON" href="images/favicon.ico">
<link rel="stylesheet" type="text/css" href="images/ph.css">
<link rel="stylesheet" type="text/css" href="images/topmenu.css" />
<link rel="stylesheet" type="text/css" href="images/douban.css" />
<script type="text/javascript" src="js/jquery.js" ></script>
<style>
h2{font-weight:bold}
h1{
border-bottom:5px solid #CCCCCC;
font-size:18px;
font-weight:bold;
padding:20px;
}
.mainr{ border:none}
</style>
</head>
<body>
 <!--topMenu -->
 <?php include("topmenu.html") ?>
 <!--end topMenu -->
<div id="hd">
	<div class="logo"><a href="/"><img src="images/logo.png" alt="校园搜索" width="267" height="82" border="0"></a></div>
	<div class="sebar"><form method="get"><input class="input" name="key" id="s" value="<?=$key?>" type="text"><input value=" 搜索 " class="button" type="submit"></form>
  </div>
</div>
<div id="wp">
	<div class="mainr" style="width:100%"><a name="title"></a>
    <h1><?=$title?>
	<a href="?action=download&<?=$download?>&dflag=cajdown">CAJ格式</a>   <a href="?action=download&<?=$download?>&dflag=pdfdown">PDF格式</a>  </h1>
	<?php foreach($data[1] as $i => $subject) : ?>
	<h2><?=$subject?></h2>
	<div class="indent" style="text-indent: 2em;" id="intro"><?=$data[2][$i]?></div>
	<?php endforeach; ?>
	<div class="indent" id="begin" style="display:none"></div>
	</div>
</div>
<?php include("footer.html") ?>
