<div id="ft">
	&#169;2007-<?=date('Y')?> hemon.cn  &nbsp; <a target="_blank" href="http://www.miibeian.gov.cn/">赣ICP备07004153号</a> &nbsp; 
	<a href="http://www.hemon.cn/blog" target="_blank">关于我们</a>&nbsp;-&nbsp;
	<a href="http://www.hemon.cn/blog" target="_blank">友情链接</a>&nbsp;-&nbsp;
	<a href="http://www.hemon.cn/blog" target="_blank">站点地图</a>&nbsp;-&nbsp;
	<a href="http://www.hemon.cn/blog" target="_blank">商务合作</a>
</div>
<script src="http://www.google-analytics.com/urchin.js" type="text/javascript"></script>
<script type="text/javascript">_uacct = "UA-279687-3";urchinTracker();</script>
</body></html>
