<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312">
<meta name="keywords" content="好梦网,华东交通大学,校友,老乡,同学,校园,搜索">
<meta name="description" content="好梦网,校园搜索,提供校友查询,成绩查询,图书馆借阅查询,邮件包裹查询">
<title><?=array_pop($_GET)?> - 邮件查询 - 好梦网</title>
<link rel="SHORTCUT ICON" href="images/favicon.ico">
<link rel="stylesheet" href="images/ph.css" type="text/css" media="screen">
<link rel="stylesheet" href="images/flickr.css" type="text/css" media="screen">
<link href="images/topmenu.css" rel="stylesheet" type="text/css" />
<script src="js/function.js" type="text/javascript"></script>
</head>
<body>
 <!--topMenu -->
 <?php include("topmenu.html") ?>
 <!--end topMenu -->
<div id="hd">
	<div class="logo"><a href="http://www.hemon.cn/"><img src="images/logo.png" alt="校园搜索" width="267" height="82" border="0"></a></div>
	<div class="sebar"><form method="get"><input class="input" name="receiver" id="s" value="<?=(!empty($_REQUEST['receiver']) ? $_REQUEST['receiver'] : '请输入收件人姓名……')?>" type="text" onfocus="if(this.value=='请输入收件人姓名……') this.value=''"><input value=" 搜索 " class="button" type="submit"></form>
  </div>
</div>
<div id="wp">
	<div class="mainr" style="width:952px;">
        <div class="tab">
          <ul>
            <?php foreach($ptypes as $value): ?>
            <li class="<?php if($value == $ptype) echo 'up'; ?>" onclick="location='?ptype=<?=$value?>'"><?=$value?></li>
            <?php endforeach; ?>
            <li style="float:right">找到邮件 <?php echo $post['page']['recordCount']?> 个，用时 <?php echo $processed?> 秒 </li>
          </ul>
        </div>
        <div class="mytable"  style="float:left; margin-left: 5px;">
        <table cellpadding="0" cellspacing="0" width="640">
            <tbody>
            <tr>
            <th>#</th>
            <th>收件人</th>
            <th>收件地址</th>
            <th>校区</th>
            <th>类型</th> 
            <th>寄件地址</th>
            <th>到件日期</th>
            </tr>
            <?php
                $i = ($page - 1) * 20;
            	foreach($post['data'] as $p):
            	   ++$i;
            ?>
            <tr>
                <td><?=$i?></td>
            	<td><a href="?receiver=<?=$p['receiver']?>"><?=$p['receiver']?></a</td>
            	<td><a href="?address=<?=urlencode($p['address'])?>"><?=$p['address']?></a</td>
            	<td><a href="?section=<?=$p['section']?>"><?=$p['section']?></a</td>
            	<td><a href="?ptype=<?=$p['ptype']?>"><?=$p['ptype']?></a</td>
            	<td><a href="?sendfrom=<?=$p['sendfrom']?>"><?=$p['sendfrom']?></a</td>
            	<td><a href="?arrival=<?=$p['arrival']?>"><?=$p['arrival']?></a</td>
            </tr>
            <?php endforeach; ?>
            </tbody>
        </table>
        <div style="padding-top:15px"></div>
        <?=page($post['page'], 'receiver,address,ptype,sendfrom,arrival')?>
        </div>
        <div style="float:right; position:relative; top:8px; width:286px">
            <fieldset>
        	   <legend>邮局 吧</legend>
        	   <iframe src="dopost.php?key=邮局" width="100%" frameborder="0" scrolling="no" name="mypost" id="mypost" onload="this.height=mypost.document.body.scrollHeight"></iframe>
            </fieldset>
            <br />
            <!--<a href="q/hemon.exe"><img src="images/xiaoq.gif" alt="【下载】校园Q！沟通，就是这么简单！" width="283" height="484" /></a>-->
        </div>
    </div>
</div>
<?php include("footer.html") ?>
