<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312">
<meta name="keywords" content="好梦网,华东交通大学,校友,老乡,同学,校园,搜索">
<meta name="description" content="好梦网,校园搜索,提供校友查询,成绩查询,图书馆借阅查询,邮件包裹查询">
<title><?=$_REQUEST['key']?> - 同学搜索 - 好梦网</title>
<link rel="SHORTCUT ICON" href="images/favicon.ico">
<link rel="stylesheet" href="images/ph.css" type="text/css" media="screen">
<link rel="stylesheet" href="images/flickr.css" type="text/css" media="screen">
<link href="images/topmenu.css" rel="stylesheet" type="text/css" />

<script src="js/function.js" type="text/javascript"></script>
<script>
function hideBox(){
	document.getElementById('DialogMove').style.display='none';
	document.getElementById('ScreenOver').style.display='none';
}
</script>
<script src="js/preview/loader.js" type="text/javascript"></script>
<script src="js/preview/preview_templates.js" type="text/javascript"></script>
<link href="js/preview/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
 <!--topMenu -->
 <?php include("topmenu.html") ?>
 <!--end topMenu -->
<div id="hd">
	<div class="logo"><a href="http://student.hemon.cn/"><img src="images/logo.png" alt="校园搜索" width="267" height="82" border="0"></a></div>
	<div class="sebar"><form method="get"><input class="input" name="key" id="s" value="<?php echo $key;?>" type="text"><input value=" 搜索 " class="button" type="submit"></form>
  </div>
</div>
<div id="wp">
<div class="mainl" style="width:286px; position:relative; top:-8px; float:right">
    <fieldset>
	   <legend><?php echo $_REQUEST['key']?> 吧</legend>
	   <iframe src="dopost.php?key=<?php echo $_REQUEST['key']?>" width="100%" frameborder="0" scrolling="no" name="mypost" id="mypost" onload="this.height=mypost.document.body.scrollHeight"></iframe>
    </fieldset>
    <br />
    <!--<a href="q/hemon.exe"><img src="images/xiaoq.gif" alt="【下载】校园Q！沟通，就是这么简单！" width="283" height="484" /></a>-->
    </div>
	<div class="mainr" style="width:659px">
        <div class="tab">
          <ul>
            <?php for($grade = $lastGrade; $grade >= $beginGrade; $grade--){ ?>
            <li class="<?php if($grade == $_REQUEST['grade']) echo 'up'; ?>" onclick="location='?key=<?php echo $_REQUEST['key']?>&grade=<?php echo $grade?>'"><?php echo $grade?></li>
            <?php } ?>
            <li style="float:right">找到同学 <?php echo $pageInfo['recordCount']?> 位，用时 <?php echo $processed?> 秒 </li>
          </ul>
        </div>
        <table cellpadding="0" cellspacing="0" class="mytable" width="97%">
<tbody>

<tr>
<th>#</th>
<th>姓名</th>
<th>生日</th>
<th>班级</th> 
<th>民族</th>
<th>籍贯</th>
</tr>


<?php
        $i = 0;
		$sex['女'] = 'girl';
		$sex['男'] = 'boy';
    	foreach($student as $s){
    	++$i;	 
?>
<tr>
  <td><img 
<?php 
if( !empty($s['img']) && $s['img'] != 'http://head.xiaonei.com/photos/0/0/head.jpg' ) { 
    echo 'src="' . $s['img'] . '" 
          onMouseOver="showtrail(\'' . getImage($s['img']) . '\',\'' . $s['name']. '\')" 
          onMouseOut="hidetrail()"'; 
} else { 
    echo 'src="http://head.xiaonei.com/photos/0/0/head.jpg"'; 
} ?> width="60" alt="<?php echo $s['name']?>"/></td>
	<td>
        <div><a class="<?php echo $sex[$s['sex']]?>" href="?key=<?php echo $s['sid']?>"><?php echo $s['name']?></a></div>
        <?if(!empty($s['unit'])):?>
            <div class="unit">
                「<a href="?key=<?=$s['unit']?>"><?=$s['unit']?></a>」 <?=$s['local']?>
                </div>
        <?endif;?>
    </td>
	<td><a href="?key=<?php echo $s['birthday']?>"><?php echo $s['birthday']?></a></td>
	<td><a href="?key=<?php echo $s['class'] ?>"><?php echo $s['class'] ?></a></td>
	<td><a href="?key=<?php echo $s['nation'] ?>"><?php echo $s['nation'] ?></a></td>
	<td><a href="?key=<?php echo $s['native'] ?>"><?php echo $s['native'] ?></a></td>
	</tr>
<tr>
<?php } ?>
</tbody>
</table>
<?=page($pageInfo, 'key,grade')?>
</div>
</div>
<div id="preview_div" style="display: none; z-index: 110; position: absolute; left: -500px; top: 121px;"><div class="border_preview"><div style="display: none; visibility: hidden;" id="loader_container"><div id="loader"><div align="center">Loading picture preview...</div><div id="loader_bg"><div style="left: 108px; width: 4px;" id="progress"> </div></div></div></div><h2 class="title_h2"> Template 14614</h2><div class="preview_temp_load"><img onload="javascript:remove_loading();" src="" style="width: 435px; height: 402px;" border="0"></div></div></div>
<?php include("footer.html") ?>
