<link rel="stylesheet" href="images/thickbox.css" type="text/css">
<div id="ScreenOver" class="ScreenOver"></div>
<div id="DialogMove" class="DialogMove">
<div id="DialogTitle">
	<div id="DialogTitleText">登录</div>
	
</div>
<div id="DialogContent">
	<form method="post" action="login.php?action=login" target="login">
	  <table width="279" border="0" cellspacing="5">
		<tbody>
		  <tr valign="top">
			<td><label for="u01">学号</label></td>
			<td><label for="p01">密码</label></td>
			<td></td>
		  </tr>
		  <tr>
			<td><input type="text" value="<?php echo $_REQUEST['username'];?>" id="u01" maxlength="14" size="15" name="username"/></td>
			<td><input type="password" id="p01" maxlength="50" size="15" name="password"/></td>
			<td><input type="submit" value="登录" /></td>
		  </tr>
		</tbody>
	  </table>
	</form>
	* 密码默认为教务处选课密码。
</div>
</div>
