<div id="gbar" style="padding-left:10px;">
<nobr>
<div class="gb1"><a href="http://www.hemon.cn/home">校友录</a></div>
<div class="gb1"><a href="http://student.hemon.cn/">同学</a></div>
<div class="gb1"><a href="http://score.hemon.cn/">成绩</a></div>
<div class="gb1"><a href="http://lib.hemon.cn/">图书</a></div>
<div class="gb1"><a href="http://post.hemon.cn/">邮包</a></div>
<div class="gb1"><a href="http://cet.hemon.cn/">CET</a></div>
</nobr>
</div>
<div id="gbh"></div>
<div align="right" width="100%" style="padding: 0pt 10pt 4px;font-family:arial,sans-serif;" id="guser">
  <nobr>
<?php if( $_SESSION['usr'] ) : ?>
<b><?= $_SESSION['usr']['name']?></b> | 
<a href="http://score.hemon.cn/?sid=<?=$_SESSION['usr']['sid']?>">我的成绩</a> | 
<a href="http://my.hemon.cn/?tab=mobile">短信订阅</a> | 
<a href="http://my.hemon.cn/">设置</a> |  
<a href="login.php?action=logout">退出</a>
<?php else: ?>
<a href="http://my.hemon.cn/?tab=mobile">短信订阅(请登录)</a> | 
<a href="login.php">登录</a>
<?php endif; ?>
</nobr></div>
