<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="keywords" content="好梦网,华东交通大学,校友,老乡,同学,校园,搜索">
<meta name="description" content="好梦网,校园搜索,提供校友查询,成绩查询,图书馆借阅查询,邮件包裹查询">
<title><?=$user['200']['a']?> - 图书搜索 - 好梦网</title>
<link rel="SHORTCUT ICON" href="images/favicon.ico">
<link rel="stylesheet" type="text/css" href="images/ph.css">
<link rel="stylesheet" type="text/css" href="images/topmenu.css" />
<link rel="stylesheet" type="text/css" href="images/douban.css" />
<script type="text/javascript" src="js/jquery.js" ></script>
<script type="text/javascript" src="js/lib.js" ></script>
<style>h2{font-weight:bold}</style>
</head>
<body onload="book()">
 <!--topMenu -->
 <?php include("topmenu.html") ?>
 <!--end topMenu -->
<div id="hd">
	<div class="logo"><a href="http://lib.hemon.cn/"><img src="images/logo.png" alt="校园搜索" width="267" height="82" border="0"></a></div>
	<div class="sebar"><form method="get"><input class="input" name="key" id="s" value="<?=$key?>" type="text"><input value=" 搜索 " class="button" type="submit"></form>
  </div>
</div>
<div id="wp">
<div class="mainl" style="width:286px; position:relative; top:-8px; float:right">
    <fieldset>
	   <legend><span class="obmo">
	   <?=substr($user['200']['a'],0,38)?>
	   </span> 吧</legend>
	   <iframe src="dopost.php?key=<?=$book['200']['a']?>" width="100%" frameborder="0" scrolling="no" name="mypost" id="mypost" onload="this.height=mypost.document.body.scrollHeight"></iframe>
    </fieldset>
  </div>
	<div class="mainr" style="width:659px">
        <div class="tab">
          <ul><li class="up">
		  	  <span style="font-weight:bold; font-size:14px"><?=$user['200']['a']?></span>
			  </li>
          </ul>
      </div>
	<div class="indent">
	  <div class="subjectwrap">
		<div id="mainpic">
        <img src="images/noimg.gif" width="150px" style="border:1px solid #DDDDDD;" /><br /></div>
		<div id="info">
			<span class="pl2">借书证号: 
			  <?=$userid?>
			</span><br />
			<span class="pl2">姓名: 
			  <?=$user['200']['a']?>
			</span><br />
			<?php if(!empty($user['200']['b'])):?>
			<span class="pl2">性别: 
			  <?=$user['200']['b']?>
			</span><br />
			<?php endif;?>
			<span class="pl2">单位名称: 
			  <?=$user['300']['a']?></a>
			</span><br />
			<span class="pl2">读者类型: 
			  <?=$user['110']['a']?></a>
			</span><br />
			<span class="pl2">证有效期: 
			  <?=$user['110']['d']?></a>
			</span><br />
			<br />
			  <div class="obmo">
				  <span class="pl">今年借书:</span>
				  <?=$user['980']['b']?> 册
				  <br />
				  <span 
	class="pl">我正在看:</span>
				  <?=ifempty($user['982']['c'],0)?> 册
				  <?php if(0 < $user['982']['c'] && isset($_REQUEST['history'])) : ?>
                    <a href="?userid=<?=$userid?>" title="我在看什么书……" class="button" target="_blank">我在看什么书？</a>
                  <?php endif;?>
				  <br />
				  <span class="pl">看过的书:</span>
				  <?=count($user['989'])?> 册 
				  <?php if(0 < count($user['989']) && !isset($_REQUEST['history'])) : ?>
                    <a href="?userid=<?=$userid?>&history" title="我看过的书……" class="button" target="_blank">我都看过什么书？</a>
                  <?php endif;?>
				  <br />
				  
			  </div>
		</div>
	  </div>
	</div>
	<?php if( !isset($_REQUEST['history']) ):?>
	<h2>我正在看</h2>
	<div class="indent">
		<?php if( 0 < count($user['986']) ) : ?>
		<fieldset>
		<table width="97%" cellpadding="0" cellspacing="0" class="mytable"  style="">
		<tbody>
		<tr>
		<th>图书</th>
		<th>分类</th>
		<th>借书日</th> 
		<th>还书日</th>
		</tr>
		<?php foreach($user['986'] as $item) : ?>
		<tr>
		  <td><a href="?key=<?=$item['a']?>" target="_blank" class="book"><?=$item['a']?></a></td>
			<td><?=$item['f']?></td>
			<td><?=$item['t']?></td>
			<td><?=$item['v']?></td>
		</tr>
		<?php endforeach; ?>
		</tbody>
	  </table>
	  </fieldset>
	  <?php else: ?>
	  无借阅信息！
	  <?php endif; ?>
 	</div>
 	<?php else: ?>
	<h2>看过的书</h2>
	<div class="indent">
		<?php if( 0 < count($user['989']) ) : ?>
    		<fieldset>
    		<table width="97%" cellpadding="0" cellspacing="0" class="mytable"  style="">
    		<tbody>
    		<tr>
    		<th>图书</th>
    		<th>借书日</th> 
    		</tr>
    		<?php foreach($user['989'] as $item) : ?>
    		<tr>
    		  <td><a href="?key=<?=$item['a']?>" target="_blank" class="book"><?=$item['a']?></a></td>
    			<td><?=$item['t']?></td>
    		  </tr>
    		<?php endforeach; ?>
    		</tbody>
    	  </table>
    	  </fieldset>
	  <?php else: ?>
          没看过书？！
	  <?php endif;?>
	</div>
	<?php endif;?>
</div>
</div>
<?php include("footer.html") ?>
