<!--{template header}-->

<!--{if $_GET['op'] == 'edit'}-->

<div id="$classid">
<form id="classform" name="classform" method="post" action="cp.php?ac=class&op=edit&classid=$classid">
<table>
	<tr>
		<td><label for="classname">新分类名：</label><br />
		<input type="text" id="classname" name="classname" value="$class[classname]"></td>
	</tr>
	<tr>
		<td>
		<input type="hidden" name="refer" value="$_SGLOBAL[refer]" />
		<!--{if $_SGLOBAL[inajax]}-->
		<input type="hidden" name="editsubmit" value="true">
		<input type="button" name="editsubmit_btn" value="提交" class="submit" onclick="ajaxpost('classform', '$classid')" />
		<input type="button" name="btnclose" value="取消" onclick="hideMenu();" class="button" />
		<!--{else}-->
		<input type="submit" name="editsubmit" value="提交" class="submit" />
		<!--{/if}-->
		</td>
	</tr>
</table>
</form>
</div>

<!--{elseif $_GET['op'] == 'delete'}-->

<div id="$classid" <!--{if !$_SGLOBAL[inajax]}-->class="inpage"<!--{/if}-->>
<form id="classform" name="classform" method="post" action="cp.php?ac=class&op=delete&classid=$classid">
	<h1>确定删除指定的分类吗？</h1>
	<p class="btn_line">
		<input type="hidden" name="refer" value="$_SGLOBAL[refer]" />
		<!--{if $_SGLOBAL[inajax]}-->
		<input type="hidden" name="deletesubmit" value="true" />
		<input type="button" name="deletesubmit_btn" value="确定" class="submit" onclick="ajaxpost('classform', '$classid')" />
		<input type="button" name="btnclose" value="取消" onclick="hideMenu();" class="button" />
		<!--{else}-->
		<input type="submit" name="deletesubmit" value="确定" class="submit" />
		<!--{/if}-->
	</p>
</form>
</div>

<!--{/if}-->

<!--{template footer}-->