<!--{template header}-->

<div class="c_header a_header">
	<a href="space.php?uid=$space[uid]"><img src="<!--{avatar($space[uid],small)}-->" alt="$space[username]" class="avatar" /></a>
	<h1>好友</h1>
	<a href="space.php?uid=$space[uid]" class="spacelink">我的空间</a>
</div>

<div class="tabs_header">
	<ul class="tabs">
		<li><a href="space.php?uid=$space[uid]&do=friend">好友列表</a></li>
		<li><a href="space.php?uid=$space[uid]&do=friend&view=visitor">我的访客</a></li>
		<li><a href="space.php?uid=$space[uid]&do=friend&view=trace">我的足迹</a></li>
		<li><a href="space.php?uid=$space[uid]&do=friend&view=online">在线用户</a></li>
		<li><a href="cp.php?ac=friend&op=find">寻找好友</a></li>
		<li class="active"><a href="cp.php?ac=invite">邀请好友</a></li>
	</ul>
</div>

<form method="post" action="cp.php?ac=invite&ref" class="c_form">
	<table cellspacing="0" cellpadding="0" class="formtable">
		<caption>
			<h2>获取好友注册邀请码</h2>
		</caption>
		<!--{if $pay[invite]}-->
		<tr>
			<td>获取好友注册邀请码，需要<strong>扣减积分 $pay[invite] 个/每条</strong>，您现在拥有积分 <a href="cp.php?ac=space&op=credit">$space[credit]</a> 个。</td>
		</tr>
		<!--{/if}-->
		<tr>
			<td>获取邀请码个数(还可获取 $maxinvitenum 个)：<input type="text" name="invitenum" value="1" size="5"> <input type="submit" name="invitesubmit" value="获取" class="button"></td>
		</tr>
	</table>

	<table cellspacing="0" cellpadding="0" class="formtable" width="100%">
		<caption>
			<h2>我的好友邀请码</h2>
			<p>您可以通过QQ、MSN等IM工具，或者发送邮件，把下面的链接告诉你的好友。</p>
		</caption>
		<!--{if $list_str}-->
		<tr>
			<td>
			一行一个邀请链接，一个链接只能使用一次。<br>
			<textarea name="invite_urls" rows="10" style="width:98%;">
			$list_str
			</textarea>
			</td>
		</tr>
		<!--{else}-->
		<tr><td>还没有好友注册邀请码。</td></tr>
		<!--{/if}-->
	</table>

	<table cellspacing="0" cellpadding="0" class="formtable">
		<caption>
			<h2>已邀请好友</h2>
			<!--{if $get[invite]}--><p>邀请一个好友注册成功，可以获得积分 $get[invite] 个。</p><!--{/if}-->
		</caption>
		<!--{if $flist}-->
		
		<tr>
			<td>
			<!--{eval $dot='';}-->
			<!--{loop $flist $key $value}-->
			$dot<a href="space.php?uid=$value[fuid]" target="_blank">$value[fusername]</a>
			<!--{eval $dot='、';}-->
			<!--{/loop}-->
			</td>
		</tr>
		
		<!--{else}-->
		<tr><td>还没有邀请好友。</td></tr>
		<!--{/if}-->
	</table>
</form>
<div class="f_status f_status_w s_clear">
	<a href="javascript:;" onclick="window.scrollTo(0,0);" id="a_top" title="TOP">TOP</a>
</div>
<!--{template footer}-->