<!--{template header}-->

<div id="$tospace[uid]" <!--{if !$_SGLOBAL[inajax]}-->class="inpage"<!--{/if}-->>
<!--{if $_SGLOBAL[inajax]}-->
<h1>打招呼</h1>
<a href="javascript:hideMenu();" title="关闭" class="float_del">关闭</a>
<div class="popupmenu_inner">
<!--{/if}-->
<form method="post" id="pokeform" name="pokeform" action="cp.php?ac=poke&op=$op&uid=$tospace[uid]">
	<table cellspacing="0" cellpadding="3">
		<tr>
			<th width="52"><a href="space.php?uid=$tospace[uid]"><img src="<!--{avatar($tospace[uid],small)}-->" alt="$tospace[username]" width="48" height="48" /></th>
			<td>向 <strong>$tospace[username]</strong> 打招呼：<br />
				<input type="text" name="note" value="" size="20" class="t_input" onkeydown="ctrlEnter(event, 'pokesubmit_btn', 1);" style="width: 300px;" maxlength="25" />
				<p class="gray">(内容为可选，并且会覆盖之前的招呼，最多25个汉字)</p>
			</td>
		</tr>
		<tr>
			<th>&nbsp;</th>
			<td>
				<input type="hidden" name="refer" value="$_SGLOBAL[refer]">
				<input type="hidden" name="pokesubmit" value="true" />
				<!--{if $_SGLOBAL[inajax]}-->
				<input type="button" name="pokesubmit_btn" id="pokesubmit_btn" value="确定" class="submit" onclick="ajaxpost('pokeform', '$tospace[uid]', 'poke_send')" />
				<!--{else}-->
				<input type="submit" name="pokesubmit_btn" id="pokesubmit_btn" value="确定" class="submit" />
				<!--{/if}-->
			</td>
	</table>
</form>
<!--{if $_SGLOBAL[inajax]}--></div><!--{/if}-->
</div>

<!--{template footer}-->