<!--{template header}-->
<!--{template cp_header}-->

<!--{if $op=='diy'}-->

<div class="h_status"><a href="cp.php?ac=theme">返回主页风格列表</a></div>

<div class="d_content">
	
	<form method="post" action="cp.php?ac=theme" class="c_form">
	
	<!--{if !empty($_GET['view'])}-->
	<div class="notice">最后保存时间：<!--{date('H:i:s',$_SGLOBAL[timestamp])}-->，<a href="space.php" target="_blank">新窗口预览个人主页</a></div>
	<!--{/if}-->
	
	<table cellspacing="6" cellpadding="0" width="100%">
	<tr>
		<td>自己设计个人主页风格，这需要你了解一定的CSS知识<br>
		CSS内容:<br>
		<textarea name="css" style="width:98%;" rows="20">$space[oldcss]</textarea></td>
	</tr>
	<tr>
		<td>
		<input type="checkbox" name="nocss" value="1"<!--{if $space[nocss]}--> checked<!--{/if}-->> <strong>屏蔽其他人风格</strong>
		<br>
		别人美化不当可能会造成查看其个人主页是出现问题。你可以勾选此选项，则查看所有人的个人主页将显示默认效果。
		</td>
	</tr>
	<tr>
		<td><input type="submit" name="csssubmit" value="保存修改" class="submit" />
		</td>
	</tr>
	</table>
	
	</form>
</div>

<!--{else}-->
<div class="h_status">选择自己喜欢的风格，风格仅对个人主页页面有效</div>

<div class="d_content">
	<div class="albums_list">
		<table cellspacing="6" cellpadding="0" width="100%">
		<tr>
		<!--{eval $i=0;}-->
		<!--{loop $themes $key $value}-->
				<td>
					<ul class="image_left">
						<li>
							<p class="image">
							<!--{if $value['dir']!='uchomediy'}-->
							<a href="space.php?theme=$value[dir]" target="_blank"><!--{if $value[pic]}--><img src="$value[pic]" alt="$value[name]" style="width: 110px; height: 120px" /><!--{else}--><img src="theme/$value[dir]/preview.jpg" alt="$value[name]" style="width: 110px; height: 120px" /><!--{/if}--></a>
							<!--{else}-->
							<a href="cp.php?ac=theme&op=diy"><img src="$value[pic]" alt="$value[name]" style="width: 110px; height: 120px" /></a>
							<!--{/if}-->
							</p>
							<table cellspacing="0" cellpadding="0" class="infotable">
								<caption>
								<!--{if $value['dir']=='uchomediy'}-->
								<a href="cp.php?ac=theme&op=diy">$value[name]</a></caption>
								<!--{else}-->
								<a href="space.php?theme=$value[dir]" target="_blank">$value[name]</a></caption>
								<!--{/if}-->
								<tr><td>
								<!--{if $value['dir']=='uchomediy'}-->
								<a href="cp.php?ac=theme&op=diy">进入设置界面</a>
								<!--{else}-->
								<a href="space.php?theme=$value[dir]" target="_blank">预览</a><span class="pipe">|</span><a href="cp.php?ac=theme&op=use&dir=$value[dir]">启用</a>
								<!--{/if}-->
								</td></tr>
							</table>
						</li>
					</ul>
				</td>
			<!--{if $i%2==1}--></tr><tr><!--{/if}-->
			<!--{eval $i++;}-->
		<!--{/loop}-->
		</tr>
		</table>
	</div>
</div>

<!--{/if}-->
<div class="f_status f_status_w s_clear">
	<a href="javascript:;" onclick="window.scrollTo(0,0);" id="a_top" title="TOP">TOP</a>
</div>
<!--{template footer}-->