<!--{if empty($_SGLOBAL['inajax'])}-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=$_SC[charset]" />
<title><!--{if $_TPL['titles']}--><!--{loop $_TPL['titles'] $value}--><!--{if $value}-->$value - <!--{/if}--><!--{/loop}--><!--{/if}--><!--{if $space}-->$space[username] - <!--{/if}-->$_SCONFIG[sitename] - 交大同学录</title>
<script language="javascript" type="text/javascript" src="source/script_common.js"></script>
<script language="javascript" type="text/javascript" src="source/script_menu.js"></script>
<script language="javascript" type="text/javascript" src="source/script_ajax.js"></script>
<style type="text/css">
@import url(template/$_SC[template]/common.css);
<!--{if !empty($space['theme'])}-->
@import url(theme/$space[theme]/style.css);
<!--{/if}-->
<!--{if !empty($space['css'])}-->
$space[css]
<!--{/if}-->
</style>
<!--{if $space[uid]}-->
<link rel="alternate" type="application/rss+xml" href="rss.php?uid=$space[uid]" title="$space[username]" />
<!--{/if}-->
<link rel="edituri" type="application/rsd+xml" title="rsd" href="xmlrpc.php?rsd=1" />
</head>
<body>
<div id="append_parent"></div>
<div id="ajaxwaitid"></div>
<div id="wrap">
	<div id="header">
		<h2><a href="index.php"><img src="$_SCONFIG[sitelogo]" alt="$_SCONFIG[sitename]" /></a></h2>
		<!--{if $_SGLOBAL[supe_uid]}-->
		<ul id="menu">
			<li><a href="space.php?do=home">首页</a><!--{if $space[self] && $space[credit]<10}--><a href="space.php?do=home&view=guide" class="edit">向导</a><!--{/if}--></li>
			<li><a href="space.php">个人主页</a></li>
			<li><a href="space.php?do=friend">好友</a><a href="javascript:;" onclick="openSub(this,'friend');" class="drop">&nbsp;</a></li>
			<li><a href="network.php">随便看看</a><!--{if empty($_SCONFIG['showall'])}--><a href="space.php?do=home&view=all" class="edit">近况</a><!--{/if}--></li>
			<li><a href="space.php?do=pm"><span id="span_newpm">私信</span><!--{if !empty($_SGLOBAL['member']['newpm'])}--><script>newpm();</script><!--{/if}--></a><a href="javascript:;" onclick="openSub(this,'pm');" class="drop">&nbsp;</a></li>
		</ul>
		<div id="op">
			<a href="cp.php">设置</a><span class="pipe">|</span>
			<a href="cp.php?ac=privacy">策略</a><span class="pipe">|</span>
			<!--{if $space[self] && $space[credit]>=10}--><a href="space.php?do=home&view=guide">向导</a><span class="pipe">|</span><!--{/if}-->
			<a href="cp.php?ac=common&op=logout">退出</a>
		</div>
		<!--{else}-->
		<div id="op">
			<a href="index.php">首页</a><span class="pipe">|</span>
			<a href="space.php">我的空间</a><span class="pipe">|</span>
			<a href="help.php">帮助</a>
		</div>
		<!--{/if}-->
	</div>
	<div id="submenu">
		<div id="subfriend" class="submenu">
			<ul>
				<li><a href="space.php?do=friend">好友列表</a></li>
				<li><a href="space.php?do=friend&view=visitor">我的访客</a></li>
				<li><a href="space.php?do=friend&view=trace">我的足迹</a></li>
				<li><a href="space.php?do=friend&view=online">在线用户</a></li>
				<li class="line"><a href="cp.php?ac=friend&op=find">寻找好友</a></li>
				<li><a href="cp.php?ac=invite">邀请好友</a></li>
			</ul>
		</div>
		<div id="subpm" class="submenu">
			<ul>
				<li><a href="space.php?do=pm">查看未读</a></li>
				<li><a href="space.php?do=pm&view=inbox">收件箱</a></li>
				<li><a href="space.php?do=pm&view=outbox">发件箱</a></li>
				<li><a href="space.php?do=notice">通知</a></li>
				<li class="line"><a href="cp.php?ac=pm">发送私信</a></li>
			</ul>
		</div>
	</div>
	<div id="content" class="s_clear">
		<div id="side">
<!--{if $_SGLOBAL[supe_uid]}-->
			<ul id="app" class="app_list">
				<li class="app-doing"><a href="space.php?do=doing">迷你博客</a></li>
				<li class="app-blog"><a href="space.php?do=blog">日志</a><em><a href="cp.php?ac=blog">发表</a></em></li>
				<li class="app-photo"><a href="space.php?do=album">相册</a><em><a href="cp.php?ac=upload">上传</a></em></li>
				<li class="app-mtag"><a href="space.php?do=mtag">群组</a><em><a href="space.php?do=thread">话题</a></em></li>
				<li class="app-share"><a href="space.php?do=share">分享</a></li>
				<li class="app-score"><a href="http://score.hemon.cn/?sid=$space[username]" class="new">成绩</a><em><a href="http://score.hemon.cn/?sid=$space[username]&td=1">双学位</a></em></li>
				<li class="app-student"><a href="http://student.hemon.cn">同学</a></li>
				<li class="app-lib"><a href="http://lib.hemon.cn">图书馆</a></li>
				<li class="app-post"><a href="http://post.hemon.cn">邮件</a></li>
				<li class="app-cet"><a href="http://cet.hemon.cn">CET</a></li>
				<li class="app-help"><a href="space.php?uid=1&do=wall&view=me">意见/求助</a></li>
				
				<!--{loop $_SGLOBAL['app'] $key $value}-->
				<!--{if $key != UC_APPID && $value[open]}-->
				<li class="app-$value[type]"><a href="space.php?do=app&appid=$key" title="$value[name]">$value[name]</a></li>
				<!--{/if}-->
				<!--{/loop}-->
			</ul>
<!--{else}-->
<!--{if empty($space['theme']) && empty($space['css'])}-->
			<!--{if empty($_SGLOBAL['nologinform'])}-->
			<form id="loginform" name="loginform" action="do.php?ac=login&ref" method="post">
				<div style="padding: 10px;">
					<p class="gray"><label for="username">学　号：</label></p>
					<p><input type="text" name="username" id="username" class="t_input" value="$membername" size="15" style="width: 100px;" /></p>
					<p class="gray"><label for="password">密　码：</label></p>
					<p><input type="password" name="password" id="password" class="t_input" size="15" style="width: 100px;" /></p>
					<p><input type="checkbox" id="cookietime" name="cookietime" value="315360000" checked /> <label for="cookietime">下次自动登录</label></p>
					<p style="padding-top: 4px;">
						<input type="hidden" name="refer" value="space.php?do=home" />
						<input type="submit" id="loginsubmit" name="loginsubmit" value="登录" class="submit" style="padding: 0; width: 50px;" />
						<a href="do.php?ac=lostpasswd">找回密码</a>
					</p>
				</div>
			</form>
			<!--{/if}-->
			<ul class="sidelink">
				<li><a href="do.php?ac=register"><strong>注册</strong>期待您的入住</a></li>
				<li><a href="help.php"><strong>页面介绍</strong>了解一下您的家</a></li>
				<!--{if $_SCONFIG['networkpublic']}--><li><a href="network.php"><strong>随便看看</strong>看看大家在做什么</a></li><!--{/if}-->
			</ul>
<!--{/if}-->
<!--{/if}-->

<!--{if empty($space['theme']) && empty($space['css'])}-->
			<!--{ad/leftside}--><!-- 左侧栏广告-->
<!--{/if}-->
		</div>
		<div id="mainarea">
<!--{else}-->
<!--{eval 
	obclean();
	@header("Expires: -1");
	@header("Cache-Control: no-store, private, post-check=0, pre-check=0, max-age=0", FALSE);
	@header("Pragma: no-cache");
	@header("Content-type: application/xml; charset=$_SC[charset]");
	echo '<'."?xml version=\"1.0\" encoding=\"$_SC[charset]\"?>\n";
	echo "<root><![CDATA[";
}-->
<!--{/if}-->
