<!--{template header}-->

<div class="h_status"><h1>来自 $space[username] 的好友邀请</h1></div>

<ul class="user_list">
	<li>
		<a href="space.php?uid=$space[uid]&invite=$invite[code]" target="_blank"><img src="<!--{avatar($space[uid],middle)}-->" alt="$space[username]" class="avatar" /></a>
		<table cellspacing="0" cellpadding="0" class="infotable">
			<caption>
			<a href="space.php?uid=$space[uid]&invite=$invite[code]" target="_blank">$space[username]</a>
			</caption>
			<tr>
				<th width="50">居住地：</th>
				<td>$space[resideprovince] $space[residecity]</td>
			</tr>
			<tr>
				<th>状态：</th>
				<td>$space[note]</td>
			</tr>
		</table>
		<ul class="actions">
			<li><a href="space.php?uid=$space[uid]&invite=$invite[code]" target="_blank">查看空间</a></li>
		<!--{if $_SGLOBAL['supe_uid']}-->
			<li><a href="cp.php?ac=pm&uid=$space[uid]" id="a_pm" onclick="ajaxmenu(event, this.id, 99999, '', -1)">发送私信</a></li>
			<li><a href="cp.php?ac=poke&op=send&uid=$space[uid]" id="a_poke" onclick="ajaxmenu(event, this.id, 99999, '', -1)">打招呼</a></li>
		<!--{/if}-->
		</ul>
	</li>
</ul>

<form method="post" action="invite.php?$get" class="c_form">
	<table cellpadding="0" cellspacing="0" class="formtable">
		<caption>
			<h2>$space[username] (昵称:$space[spacename]) 邀请你为好友</h2>
		</caption>
		
<!--{if $_SGLOBAL['supe_uid']}-->
	
	<tr>
		<td><input type="submit" name="invitesubmit" value="接受邀请" class="submit" /> <input type="button" name="tmp[]" onclick="location.href='space.php';return false;" class="submit" value="忽略" /></td>
	</tr>

<!--{else}-->

	<tr>
		<td>
			<!--{if empty($_SCONFIG['closeinvite'])}-->
			<input type="button" name="tmp[]" onclick="location.href='do.php?ac=register&uid=$invite[uid]&invite=$invite[code]';return false;" class="submit" value="注册会员" /><br />
			如果你还没有注册，马上注册一个账户，与 $space[username] 进行交流、分享<br /><br />
			<!--{/if}-->
			<input type="button" name="tmp[]" onclick="location.href='do.php?ac=login&uid=$invite[uid]&invite=$invite[code]';return false;" class="submit" value="登录站点" /><br />
			如果你已经在本站注册，你只需要登录，就可以与 $space[username] 成为好友了<br />
		</td>
	</tr>

<!--{/if}-->

	</table>
</form>
<div class="f_status f_status_w s_clear">
	<a href="javascript:;" onclick="window.scrollTo(0,0);" id="a_top" title="TOP">TOP</a>
</div>

<!--{template footer}-->