<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=$_SC[charset]" />
<title><!--{if $space}-->$space[username] - <!--{/if}-->$_SCONFIG[sitename] - Powered by UCenter Home</title>
<script type="text/javascript">
	if (top.location != location) top.location.href = location.href; 
</script>
<script language="javascript" type="text/javascript" src="source/script_common.js"></script>
<script language="javascript" type="text/javascript" src="source/script_menu.js"></script>
<script language="javascript" type="text/javascript" src="source/script_ajax.js"></script>
<style type="text/css">
	@import url(template/default/common.css);
	#header { width: 100%; height: 26px; border-bottom: 1px solid #DDD; background: #EEE; }
	#menu { line-height: 26px; font-size: 1em; left: 10px; top: 0; }
	#menu li { float: left; padding-left: 30px; background: url(template/default/image/link_toolbar_icons.gif) no-repeat 10px 5px; }
		#menu li.share { background-position: 13px -44px; }
		#menu li.srcpage { background-position: 10px -95px; }
		#menu li a { color: #333; }
		#menu li a:hover { background-color: transparent; text-decoration: underline; }
</style>
</head>

<body scroll="no">
<div id="append_parent"><iframe id="ajaxframe" name="ajaxframe" width="0" height="0" marginwidth="0" frameborder="0" src="about:blank"></iframe></div>
<div id="ajaxwaitid"></div>

<table border="0" cellPadding="0" cellSpacing="0" height="100%" width="100%">
	<tr>
		<td height="26">
			<div id="header">
				<ul id="menu">
					<li class="myspace"><a href="$refer">返回我的空间</a></li>
					<li class="share"><a href="javascript:;" onclick="do_share();">分享</a></li>
					<li class="srcpage"><a href="$url" target="_blank">$show_url</a><a href="javascript:;" onclick="javascript:setCopy('$url');return false;">(复制)</a></li>
				</ul>
			</div>
		</td>
	</tr>
	<tr>
		<td>
			<iframe id="url_mainframe" frameborder="0" scrolling="yes" name="main" src="$url" style="height: 100%; visibility: inherit; width: 100%; z-index: 1;overflow: visible;"></iframe>
		</td>
	</tr>
</table>

<div id="divshare" style="position: absolute; left: 50%; top: 100px; width: 450px; w\idth: 434px; margin-left: -225px; border: 8px solid #999; background: #FFF; display: none;">
	<form method="post" id="shareform" name="shareform" action="cp.php?ac=share&type=link" style="padding: 20px;">
	<table>
		<tr>
			<td>
				<a href="javascript:hideShare()" title="关闭" style="float: right;">关闭</a>
				<h2>分享链接:</h2>
				<input type="text" id="link" name="link" value="$url" style="width: 380px;" onkeyup="showPreview(this.value, 'preview')">
				<h2>你的分享说明:</h2>
				<textarea id="general" name="general" cols="40" rows="5" style="width: 380px;" onkeyup="showPreview(this.value, 'quote')"></textarea>
			</td>
		</tr>
		<tr>
			<td>
			<input type="hidden" name="refer" value="space.php?do=share">
			<button name="sharesubmit" id="sharesubmit" type="submit" class="submit" value="true" onclick="ajaxpost('shareform', 'sharestatus', 'frame_share_add')">确定</button>
			<span id="sharestatus"></span>
			</td>
		</tr>
	</table>
	<br />
	<ul class="box" style="text-align: left;">
	<li id="share_li">
		<div class="title">
			<a href="space.php?uid=$space[uid]">$space[username]</a> 分享了一个网址
			<span class="time"><!--{date('Y-m-d H:i',$_SGLOBAL[timestamp],1)}--></span>
		</div>
		<div class="feed">
		<div id="preview" class="detail">
			$url
		</div>
		<div class="quote"><span id="quote" class="q">$value[body_general]</span></div>
		</div>
	</li>
	</ul>
	</form>
</div>

<script type="text/javascript">
	function do_share() {
		$('divshare').style.display = 'block';
	}
	function hideShare() {
		$('divshare').style.display = 'none';
	}
	function frame_share_add(sid, result) {
		if(result) {
			$('divshare').innerHTML = '<br><br>分享完成了 [<a href="javascript:hideShare()">关闭</a>]<br><br><br>';
			setTimeout("hideShare();", 1000);
		}
	}
	
</script>

</body>
</html>