<div class="c_header">
	<ul class="tabs">
		<li$actives[doing]><a href="network.php?ac=doing">迷你博客</a></li>
		<li$actives[blog]><a href="network.php?ac=blog">日志</a></li>
		<li$actives[album]><a href="network.php?ac=album">相册</a></li>
		<li$actives[share]><a href="network.php?ac=share">分享</a></li>
		<li$actives[thread]><a href="network.php?ac=thread">话题</a></li>
		<li$actives[mtag]><a href="network.php?ac=mtag">群组</a></li>
		<li$actives[space]><a href="network.php?ac=space">成员</a></li>
	</ul>
</div>

<div class="h_status">以更新时间先后为序</div>