<!--{template header}-->
<!--{if $space[uid]}-->
<div class="c_header a_header">
	<a href="space.php?uid=$space[uid]"><img src="<!--{avatar($space[uid],small)}-->" alt="$space[username]" class="avatar" /></a>
	<h1>成员</h1>
	<a href="space.php?uid=$space[uid]" class="spacelink">我的空间</a>
</div>
<div class="tabs_header">
	<ul class="tabs">
		<li><a href="space.php?uid=$space[uid]&do=friend">好友列表</a></li>
		<li><a href="space.php?uid=$space[uid]&do=friend&view=visitor">我的访客</a></li>
		<li><a href="space.php?uid=$space[uid]&do=friend&view=trace">我的足迹</a></li>
		<li><a href="space.php?uid=$space[uid]&do=friend&view=online">在线用户</a></li>
		<li><a href="cp.php?ac=friend&op=find">寻找好友</a></li>
		<!--{if empty($_SCONFIG['closeinvite'])}-->
		<li><a href="cp.php?ac=invite">邀请好友</a></li>
		<!--{/if}-->
		<li class="active"><a href="network.php?ac=space">成员</a></li>
	</ul>
</div>
<div class="h_status">以发布时间为序</div>
<!--{else}-->
<!--{template network_header}-->
<!--{/if}-->

<div class="h_status">
	<div id="m_search"<!--{if !empty($gets)}--> style="display:none;"<!--{/if}-->>
		<form method="get" action="network.php">
		用户名 <input type="text" name="username" value="$gets[username]" class="t_input" />
		<input type="hidden" name="ac" value="$ac" />
		<input type="hidden" name="searchmode" value="1" />
		<input type="submit" name="findsubmit" value="找人" class="submit" />
		<a href="javascript:;" onclick="document.getElementById('m_search').style.display='none';document.getElementById('adv_search').style.display='block'">高级搜索</a>
		</form>
	</div>
	<form method="get" action="network.php">
		<table cellspacing="0" cellpadding="0" class="formtable" id="adv_search"<!--{if empty($gets)}--> style="display:none;"<!--{/if}-->>
			<tr>
				<th>用户名</th>
				<td>
					<input type="text" name="username" value="$gets[username]" class="t_input" />
				</td>
			</tr>
			<tr>
				<th>名字(昵称)</th>
				<td>
					<input type="text" name="spacename" value="$gets[spacename]" class="t_input" />
				</td>
			</tr>
			<tr>
				<th>性别</th>
				<td>
					<select id="sex" name="sex">
						<option value="0">无</option>
						<option value="1"$sexarr[1]>男</option>
						<option value="2"$sexarr[2]>女</option>
					</select>
				</td>
			</tr>
			<tr>
				<th>生日</th>
				<td>
					<select id="birthyear" name="birthyear">
						<option value="0">年</option>
						$birthyeayhtml
					</select> 
					<select id="birthmonth" name="birthmonth">
						<option value="0">月</option>
						$birthmonthhtml
					</select> 
					<select id="birthday" name="birthday">
						<option value="0">日</option>
						$birthdayhtml
					</select> 
				</td>
			</tr>
			
			<tr>
				<th>血型</th>
				<td>
					<select id="blood" name="blood">
						<option value="">无</option>
						$bloodhtml
					</select>
				</td>
			</tr>
			<tr>
				<th>婚恋</th>
				<td>
					<select id="marry" name="marry">
						<option value="0">无</option>
						<option value="1"$marryarr[1]>单身</option>
						<option value="2"$marryarr[2]>非单身</option>
					</select>
				</td>
			</tr>
			
			<tr>
				<th>出生地</th>
				<td>
					<script type="text/javascript" src="source/script_city.js"></script>
					<script type="text/javascript">
					<!--
					showprovince('birthprovince', 'birthcity', '$gets[birthprovince]');
					showcity('birthcity', '$gets[birthcity]');
					//-->
					</script>
				</td>
			</tr>
			<tr>
				<th>居住地</th>
				<td>
					<script type="text/javascript">
					<!--
					showprovince('resideprovince', 'residecity', '$gets[resideprovince]');
					showcity('residecity', '$gets[residecity]');
					//-->
					</script>
				</td>
			</tr>
			<tr>
				<th>QQ</th>
				<td>
					<input type="text" name="qq" value="$gets[qq]" class="t_input" />
				</td>
			</tr>
			<tr>
				<th>MSN</th>
				<td>
					<input type="text" name="msn" value="$gets[msn]" class="t_input" />
				</td>
			</tr>
			<tr>
				<th>群组</th>
				<td colspan="3">
				<select name="fieldid">
					<option value="0">请选择</option>
					<!--{loop $_SGLOBAL[profield] $fieldid $value}-->
					<option value="$fieldid"$fieldids[$fieldid]>$value[title]</option>
					<!--{/loop}-->
				</select>
				<input type="text" name="fieldname" value="$gets[fieldname]" class="t_input" />
				</td>
			</tr>
			
			<!--{loop $fields $fkey $fvalue}-->
			<!--{if $fvalue[allowsearch]}-->
			<tr>
				<th>$fvalue[title]</th>
				<td>
					$fvalue[html]
				</td>
			</tr>
			<!--{/if}-->
			<!--{/loop}-->
			

			<tr>
				<th>&nbsp;</th>
				<td>
				<input type="hidden" name="ac" value="space" />
				<input type="hidden" name="searchmode" value="1" />
				<input type="submit" name="findsubmit" value="找人" class="submit" />
				</td>
			</tr>
		</table>
	</form>
</div>


<div class="d_content">
	<!--{if $list}-->
	<ul class="user_list">
		<!--{loop $list $key $value}-->
		<li id="friend_$value[uid]_li" <!--{if $ols[$value[uid]]}-->class="online"<!--{/if}-->>
			<a href="space.php?uid=$value[uid]"><img src="<!--{avatar($value[uid],middle)}-->" alt="$value[username]" class="avatar" /></a>
			<table cellspacing="0" cellpadding="0" class="infotable" style="width: 180px;">
				<caption>
				<a href="space.php?uid=$value[uid]">$value[username]</a>
				</caption>
				<!--{if $value[spacename]}-->
				<tr>
					<th width="50">名字：</th>
					<td>$value[spacename]</td>
				</tr>
				<!--{/if}-->
				<!--{if $value[resideprovince]}-->
				<tr>
					<th width="50">居住：</th>
					<td><a href="network.php?ac=space&resideprovince=$value[p]&residecity=&searchmode=1">$value[resideprovince]</a> <a href="network.php?ac=space&resideprovince=$value[p]&residecity=$value[c]&searchmode=1">$value[residecity]</a></td>
				</tr>
				<!--{/if}-->
				<!--{if $ols[$value[uid]]}-->
				<tr>
					<th>动作：</th>
					<td><!--{date('H:i',$ols[$value[uid]],1)}--></td>
				</tr>
				<!--{/if}-->
			</table>
			<ul class="blocklink">
				<li><a href="space.php?uid=$value[uid]">查看空间</a></li>
				<li><a href="cp.php?ac=friend&op=add&uid=$value[uid]" id="a_friend_$key" onclick="ajaxmenu(event, this.id, 99999, '', -1)">加为好友</a></li>
				<li><a href="cp.php?ac=pm&uid=$value[uid]" id="a_pm_$key" onclick="ajaxmenu(event, this.id, 99999, '', -1)">发短消息</a></li>
				<li><a href="cp.php?ac=poke&op=send&uid=$value[uid]" id="a_poke_$key" onclick="ajaxmenu(event, this.id, 99999, '', -1)">打招呼</a></li>
			</ul>
		</li>
		<!--{/loop}-->
	</ul>
	<div class="page">
	<!--{if $multi[html]=='networkpage'}-->仅显示最新更新的 $count 个空间<!--{else}-->$multi[html]<!--{/if}-->
	</div>
	<!--{else}-->
	<div class="c_form">没有相应的用户。</div>
	<!--{/if}-->
</div>



<div class="f_status f_status_w s_clear">
	<a href="javascript:;" onclick="window.scrollTo(0,0);" id="a_top" title="TOP">TOP</a>
</div>
<!--{template footer}-->