<!--{eval $_TPL['titles'] = array('日志', '随便看看');}-->
<!--{template header}-->

<!--{if $space[uid]}-->
<div class="c_header a_header">
	<a href="space.php?uid=$space[uid]"><img src="<!--{avatar($space[uid],small)}-->" alt="$space[username]" class="avatar" /></a>
	<h1>日志</h1>
	<a href="space.php?uid=$space[uid]" class="spacelink">我的空间</a>
</div>
<div class="tabs_header">
	<ul class="tabs">
		<!--{if $space[friendnum]}--><li><a href="space.php?uid=$space[uid]&do=blog">好友最新日志</a></li><!--{/if}-->
		<li><a href="space.php?uid=$space[uid]&do=blog&view=me">我的日志</a></li>
		<li><a href="space.php?uid=$space[uid]&do=blog&view=trace">我踩过的日志</a></li>
		<li class="active"><a href="network.php?ac=blog">大家的日志</a></li>
	</ul>
</div>
<div class="h_status">以发布时间先后为序</div>
<!--{else}-->
<!--{template network_header}-->
<!--{/if}-->

<div id="search" class="h_status">
	
		<div id="m_search"<!--{if !empty($gets)}--> style="display:none;"<!--{/if}-->>
			<form method="get" action="network.php">
			<input type="text" name="key" value="$gets[key]" size="26" class="t_input" />
			<input type="hidden" name="ac" value="$ac" />
			<input type="hidden" name="searchmode" value="1" />
			<input type="submit" name="searchsubmit" value="搜索日志" class="submit" />
			<a href="javascript:;" onclick="document.getElementById('m_search').style.display='none';document.getElementById('adv_search').style.display='block'">高级搜索</a>
			</form>
		</div>
		<form method="get" action="network.php">
		<table cellspacing="0" cellpadding="0" class="formtable" id="adv_search"<!--{if empty($gets)}--> style="display:none;"<!--{/if}-->>
			<tr>
				<th width="60">关键字*</th>
				<td>
					<input type="text" name="key" value="$gets[key]" size="26" class="t_input" />
				</td>
			</tr>
			<tr>
				<th>作者名*</th>
				<td>
					<input type="text" name="username" value="$gets[username]" size="26" class="t_input" />
				</td>
			</tr>
			<tr>
				<th>时间范围</th>
				<td>
					<input type="text" name="starttime" value="$gets[starttime]" size="10" class="t_input" /> ~ <input type="text" name="endtime" value="$gets[endtime]" size="10" class="t_input" />
					格式为 YYYY-MM-DD
				</td>
			</tr>
			<tr>
				<th>搜索方式</th>
				<td>
					<label for="subject"><input id="subject" type="radio" value="subject" name="type"$typearr[subject]>搜索标题</label>
					<label for="fulltext"><input id="fulltext" type="radio" value="fulltext" name="type"$typearr[fulltext]>全文搜索</label>
				</td>
			</tr>
			<tr>
				<th>结果排序</th>
				<td>
					<select name="orderby">
						<option value="dateline">发布时间</option>
						<option value="lastpost"$orderbyarr[lastpost]>评论时间</option>
						<option value="replynum"$orderbyarr[replynum]>回复数量</option>
						<option value="viewnum"$orderbyarr[viewnum]>浏览次数</option>
					</select>
					<select name="ascdesc">
						<option value="asc">按升序排列</option>
						<option value="desc"$ascdescarr[desc]>按降序排列</option>
					</select>
				</td>
			</tr>
			<tr>
				<th>&nbsp;</th>
				<td>
				<input type="hidden" name="ac" value="$ac" />
				<input type="hidden" name="searchmode" value="1" />
				<input type="submit" name="searchsubmit" value="搜索" class="submit" />
				</td>
			</tr>
		</table>
	</form>
</div>

<div style="padding: 1em;">
	<!--{if $list}-->
	<div class="post_list a_list">
		<ul>
			<!--{loop $list $value}-->
			<li>
				<a href="space.php?uid=$value[uid]"><img src="<!--{avatar($value[uid],small)}-->" alt="$value[username]" class="avatar" /></a>
				<div class="title">
					<h4><a href="space.php?uid=$value[uid]&do=blog&id=$value[blogid]">$value[subject]</a></h4>
					<a href="space.php?uid=$value[uid]">$value[username]</a> <span class="time"><!--{date('Y-m-d H:i',$value[dateline],1)}--></span>
				</div>
				<div class="detail l_text">
					<!--{if !$value['friend']}-->$value[message]<!--{/if}-->
				</div>
				<div class="status">
					<a href="space.php?uid=$value[uid]&do=blog&id=$value[blogid]">阅读全文</a> | 
					<!--{if $value[viewnum]}--><a href="space.php?uid=$value[uid]&do=blog&id=$value[blogid]">$value[viewnum] 次阅读</a> | <!--{/if}-->
					<!--{if $value[replynum]}--><a href="space.php?uid=$value[uid]&do=blog&id=$value[blogid]#comment">$value[replynum] 个评论</a><!--{else}-->没有评论<!--{/if}-->
				</div>
			</li>
			<!--{/loop}-->
		</ul>
	</div>
	<div class="page">
	<!--{if $multi[html]=='networkpage'}-->仅显示最新发布的 $count 个日志<!--{else}-->$multi[html]<!--{/if}-->
	</div>
	<!--{else}-->
	<div class="c_form">没有相应的日志。</div>
	<!--{/if}-->
</div>

<div class="f_status f_status_w s_clear">
	<a href="javascript:;" onclick="window.scrollTo(0,0);" id="a_top" title="TOP">TOP</a>
</div>
<!--{template footer}-->