<!--{eval $_TPL['titles'] = array('迷你博客', '随便看看');}-->
<!--{template header}-->

<!--{if $space[uid]}-->
<div class="c_header a_header">
	<a href="space.php?uid=$space[uid]"><img src="<!--{avatar($space[uid],small)}-->" alt="$space[username]" class="avatar" /></a>
	<h1>迷你博客</h1>
	<a href="space.php?uid=$space[uid]" class="spacelink">我的空间</a>
</div>
<div class="tabs_header">
	<ul class="tabs">
		<!--{if $space[friendnum]}--><li><a href="space.php?uid=$space[uid]&do=doing">最新迷你博客</a></li><!--{/if}-->
		<li><a href="space.php?uid=$space[uid]&do=doing&view=me">我的迷你博客</a></li>
		<li class="active"><a href="network.php?ac=doing">大家的迷你博客</a></li>
	</ul>
</div>
<div class="h_status">以发布时间先后为序</div>
<!--{else}-->
<!--{template network_header}-->
<!--{/if}-->

<div style="padding: 1em;">
	<!--{if $list}-->
	<div class="post_list line_list a_list l_text">
		<ul>
			<!--{loop $list $value}-->
			<li>
				<a href="space.php?uid=$value[uid]"><img src="<!--{avatar($value[uid],small)}-->" alt="$value[username]" class="avatar" /></a>
				<a href="space.php?uid=$value[uid]">$value[username]</a>&nbsp;
				$value[message]<span class="time"><!--{date('m-d H:i',$value[dateline],1)}--></span>
			</li>
			<!--{/loop}-->
		</ul>
	</div>
	<!--{else}-->
	<div class="c_form">没有相应的迷你博客。</div>
	<!--{/if}-->
	<div class="page">
	<!--{if $multi[html]=='networkpage'}-->仅显示最新更新的 $count 个迷你博客<!--{else}-->$multi[html]<!--{/if}-->
	</div>
</div>

<div class="f_status f_status_w s_clear">
	<a href="javascript:;" onclick="window.scrollTo(0,0);" id="a_top" title="TOP">TOP</a>
</div>
<!--{template footer}-->