<!--{eval $_TPL['titles'] = array($mtag['tagname'], $mtag['title'], '讨论区');}-->
<!--{template header}-->

<div class="c_header a_header">
	<a href="space.php?do=mtag&tagid=$mtag[tagid]"><img src="$mtag[pic]" alt="$mtag[tagname]" class="avatar" /></a>
	<h1>{$mtag[title]}<em>&nbsp;- 讨论区</em></h1>
	<a href="space.php?do=mtag&tagid=$mtag[tagid]" class="spacelink">{$mtag[tagname]}</a>
</div>

<div class="tabs_header">
	<!--{if $mtag['ismember']}-->
	<a href="cp.php?ac=thread&tagid=$tagid" class="t_button">发起新话题</a>
	<!--{else}-->
	<a href="cp.php?ac=mtag&op=join&tagid=$mtag[tagid]" class="t_button" id="mtag_join_$mtag[tagid]" onclick="ajaxmenu(event, this.id, 99999)">选择加入该群组</a>
	<!--{/if}-->
	<ul class="tabs">
		<li$actives[list]><a href="space.php?do=mtag&tagid=$mtag[tagid]&view=list">讨论区</a></li>
		<li$actives[digest]><a href="space.php?do=mtag&tagid=$mtag[tagid]&view=digest">精华区</a></li>
		<li$actives[member]><a href="space.php?do=mtag&tagid=$mtag[tagid]&view=member">成员列表</a></li>
	</ul>
</div>

<div class="h_status">
	按回帖时间排序<span class="pipe">|</span><a href="space.php?do=mtag&tagid=$mtag[tagid]">返回群组首页</a>
</div>

<!--{if $list}-->
<div class="d_content">
	<div class="thread_list">
		<table cellspacing="0" cellpadding="0" class="infotable">
			<thead>
				<tr>
					<td class="subject">主题</td>
					<!--{if !$mtag}--><td class="mtag">群组</td><!--{/if}-->
					<td class="author">作者<em>回复/查看数</em></td>
					<td class="lastpost">最后回复<em>回复时间</em></td>
				</tr>
			</thead>
			<!--{loop $list $value}-->
			<tr>
				<td class="subject">
				<!--{if $value[displayorder]}--> [顶] <!--{/if}-->
				<!--{if $value[digest]}--> [精] <!--{/if}-->
				<a href="space.php?uid=$value[uid]&do=thread&id=$value[tid]">$value[subject]</a>
				</td>
				<!--{if !$mtag}--><td class="mtag"><a href="space.php?do=mtag&tagid=$value[tagid]">$value[tagname]</a></td><!--{/if}-->
				<td class="author"><a href="space.php?uid=$value[uid]">$value[username]</a><em>$value[replynum]/$value[viewnum]</em></td>
				<td class="lastpost"><a href="space.php?uid=$value[lastauthorid]">$value[lastauthor]</a><em><!--{date('m-d H:i',$value[lastpost],1)}--></em></td>
			</tr>
			<!--{/loop}-->
		</table>
	</div>
	
	<div class="page">$multi[html]</div>
</div>
<!--{else}-->
<div class="article c_form">还没有相关话题。<!--{if $space['ismember']}-->您可以<a href="cp.php?ac=thread&tagid=$mtag[tagid]">发起一个新话题</a>。<!--{/if}--></div>
<!--{/if}-->
	
<div class="f_status s_clear">
	<a href="javascript:;" onclick="window.scrollTo(0,0);" id="a_top" title="TOP">TOP</a>
</div>
<!--{template footer}-->