<div class="c_header a_header">
	<a href="space.php?uid=$space[uid]"><img src="<!--{avatar($space[uid],small)}-->" alt="$space[username]" id="smallavatar" class="avatar" /></a>
	<h1>$space[username]</h1>
	<a href="space.php?uid=$space[uid]" class="spacelink">我的空间</a>
</div>

<div class="h_status">
	欢迎您，<strong>$space[username]</strong>，恭喜入住自己的家，请先根据向导完成以下安家步骤吧。
</div>
		
<div class="c_header">
	<ul class="tabs">
		<li$actives[1]><a>第一步：头像和资料</a></li>
		<li$actives[2]><a>第二步：我的群组</a></li>
		<li$actives[find]><a>第三步：寻找好友</a></li>
	</ul>
</div>
