<!--{eval $_TPL['titles'] = array($mtag['tagname'], $mtag['title'], '成员');}-->
<!--{template header}-->

<div class="c_header a_header">
	<a href="space.php?do=mtag&tagid=$mtag[tagid]"><img src="$mtag[pic]" alt="$mtag[tagname]" class="avatar" /></a>
	<h1>{$mtag[title]}<em>&nbsp;- 成员</em></h1>
	<a href="space.php?do=mtag&tagid=$mtag[tagid]" class="spacelink">{$mtag[tagname]}</a>
</div>

<div class="tabs_header">
	<!--{if $mtag['ismember']}-->
	<a href="cp.php?ac=thread&tagid=$tagid" class="t_button">发起新话题</a>
	<!--{else}-->
	<a href="cp.php?ac=mtag&op=join&tagid=$mtag[tagid]" class="t_button" id="mtag_join_$mtag[tagid]" onclick="ajaxmenu(event, this.id, 99999)">选择加入该群组</a>
	<!--{/if}-->
	<ul class="tabs">
		<li><a href="space.php?do=mtag&tagid=$mtag[tagid]&view=list">讨论区</a></li>
		<li><a href="space.php?do=mtag&tagid=$mtag[tagid]&view=digest">精华区</a></li>
		<li class="active"><a href="space.php?do=mtag&tagid=$mtag[tagid]&view=member">成员列表</a></li>
	</ul>
</div>

<div class="h_status">
	成员列表<span class="pipe">|</span><a href="space.php?do=mtag&tagid=$mtag[tagid]">返回群组首页</a>
</div>

<div class="d_content">

<div>
	<!--{if $list}-->
	<ul class="user_list">
		<!--{loop $list $value}-->
		<li>
			<a href="space.php?uid=$value[uid]"><img src="<!--{avatar($value[uid],big)}-->" alt="$value[username]" class="avatar" /></a>
			<table cellspacing="0" cellpadding="0" class="infotable"">
				<caption <!--{if $ols[$value[uid]]}-->class="online" title="在线"<!--{/if}-->>
				<a href="space.php?uid=$value[uid]">$value[username]</a>
				</caption>
				<tr>
					<th width="50">居住地：</th>
					<td><a href="network.php?ac=space&resideprovince=$value[p]&residecity=&searchmode=1">$value[resideprovince]</a> <a href="network.php?ac=space&resideprovince=$value[p]&residecity=$value[c]&searchmode=1">$value[residecity]</a></td>
				</tr>
				<tr>
					<th>状态：</th>
					<td>$value[note]</td>
				</tr>
				<!--{if $ols[$value[uid]]}-->
				<tr>
					<th>动作：</th>
					<td><!--{date('H:i',$ols[$value[uid]],1)}--></td>
				</tr>
				<!--{/if}-->
			</table>
			<ul class="blocklink">
				<li><a href="space.php?uid=$value[uid]">查看空间</a></li>
				<li><a href="cp.php?ac=friend&op=add&uid=$value[uid]" id="a_friend_$value[uid]" onclick="ajaxmenu(event, this.id, 99999, '', -1)">加为好友</a></li>
				<li><a href="cp.php?ac=pm&uid=$value[uid]" id="a_pm_$value[uid]" onclick="ajaxmenu(event, this.id, 99999, '', -1)">发短消息</a></li>
				<li><a href="cp.php?ac=poke&op=send&uid=$value[uid]" id="a_poke_$value[uid]" onclick="ajaxmenu(event, this.id, 99999, '', -1)">打招呼</a></li>
			</ul>
		</li>
		<!--{/loop}-->
	</ul>
	<!--{else}-->
	<div class="article l_text">现在还没有成员。</div>
	<!--{/if}-->
</div>

<div class="page">$multi[html]</div>

</div>
<div class="f_status f_status_w s_clear">
	<a href="javascript:;" onclick="window.scrollTo(0,0);" id="a_top" title="TOP">TOP</a>
</div>
<!--{template footer}-->