<!--{eval $_TPL['titles'] = array($mtag['tagname'], $mtag['title'], '首页');}-->
<!--{template header}-->

<div class="c_header">
	<h1><a href="space.php?do=mtag&id=$mtag[fieldid]">$mtag[title]</a> - <a href="space.php?do=mtag&tagid=$mtag[tagid]">$mtag[tagname]</a></h1>
</div>

<div class="l_content">
	<div class="wide">
		<div class="box">
			<h3>公告</h3>
			<div class="article">
				<!--{if $mtag[announcement]}-->$mtag[announcement]<!--{else}-->还没有公告<!--{/if}-->
			</div>
		</div>

		<div class="box">
			<h3><a href="space.php?do=mtag&tagid=$mtag[tagid]&view=list">讨论区</a>&nbsp;
			<a href="space.php?do=mtag&tagid=$mtag[tagid]&view=digest">精华区</a>&nbsp;
			<!--{if $mtag['ismember']}--><a href="cp.php?ac=thread&tagid=$mtag[tagid]">＋发起新话题</a><!--{/if}--></h3>
			<!--{if $list}-->
			<div class="thread_list">
				<table cellspacing="0" cellpadding="0" class="infotable">
					<thead>
						<tr>
							<td class="subject">主题</td>
							<!--{if !$mtag}--><td class="mtag">群组</td><!--{/if}-->
							<td class="author">作者<em>回复/查看数</em></td>
							<td class="lastpost">最后回复<em>回复时间</em></td>
						</tr>
					</thead>
					<!--{loop $list $value}-->
					<tr>
						<td class="subject">
						<!--{if $value[displayorder]}--> [顶] <!--{/if}-->
						<!--{if $value[digest]}--> [精] <!--{/if}-->
						<a href="space.php?uid=$value[uid]&do=thread&id=$value[tid]">$value[subject]</a></td>
						<!--{if !$mtag}--><td class="mtag"><a href="space.php?do=mtag&tagid=$value[tagid]">$value[tagname]</a></td><!--{/if}-->
						<td class="author"><a href="space.php?uid=$value[uid]">$value[username]</a><em>$value[replynum]/$value[viewnum]</em></td>
						<td class="lastpost"><a href="space.php?uid=$value[lastauthorid]">$value[lastauthor]</a><em><!--{date('m-d H:i',$value[lastpost],1)}--></em></td>
					</tr>
					<!--{/loop}-->
					<tr>
						<td class="subject"><a href="space.php?do=mtag&tagid=$mtag[tagid]&view=list">&raquo; 所有话题</a></td>
						<td>&nbsp;<br>&nbsp;</td><td></td>
					</tr>
				</table>
			</div>
			<!--{else}-->
			<div class="article l_text">还没有话题。<!--{if $space['ismember']}-->现在就去<a href="cp.php?ac=thread&tagid=$mtag[tagid]">发起一个新话题</a>吧。<!--{/if}--></div>
			<!--{/if}-->
		</div>
	</div>
	<div class="narrow">
		<div id="space_avatar"><img src="$mtag[pic]" alt="$mtag[tagname]" width="200" /></div>
		<div id="space_action" class="box">
			<ul class="line_list blocklink">
				<!--{if $mtag['ismember']}-->
				<li><a href="cp.php?ac=thread&tagid=$mtag[tagid]" style="font-weight:bold;">＋发起新话题</a></li>
				<!--{else}-->
				<li><a href="cp.php?ac=mtag&op=join&tagid=$mtag[tagid]" id="mtag_join_$mtag[tagid]" onclick="ajaxmenu(event, this.id, 99999)">选择加入该群组</a></li>
				<!--{/if}-->
				<!--{if $mtag['allowmanage']}-->
				<li><a href="cp.php?ac=mtag&op=edit&tagid=$mtag[tagid]" id="mtag_edit_$mtag[tagid]" onclick="ajaxmenu(event, this.id, 99999, '', -1)">设置群组信息</a></li>
				<li><a href="admincp.php?ac=thread&tagid=$mtag[tagid]" target="_blank">批量管理话题</a></li>
				<!--{/if}-->
			</ul>
		</div>
		<div class="box">
			<h3><a href="space.php?do=mtag&tagid=$mtag[tagid]&view=member">成员</a></h3>
			<!--{if $mtag[membernum]}-->
			<div class="box_action">
				<p>$mtag[membernum] 个成员</p>
				<p class="action"><a href="space.php?do=mtag&tagid=$mtag[tagid]&view=member">全部</a></p>
			</div>
			<ul class="avatar_list">
			<!--{loop $memberlist $value}-->
				<li><a href="space.php?uid=$value[uid]"><img src="<!--{avatar($value[uid],small)}-->" alt="$value[username]" /></a><p><a href="space.php?uid=$value[uid]">$value[username]</a></p></li>
			<!--{/loop}-->
			</ul>
			<!--{else}-->
			<div class="l_content">
				还没有成员
			</div>
			<!--{/if}-->
		</div>
		<!--{if $musers}-->
		<div class="box">
			<h3>吧主</h3>
			<div class="article">
			<!--{eval $dot='';}-->
			<!--{loop $musers $value}-->
			<!--{eval $urlvalue=rawurlencode($value);}-->
			{$dot}<a href="space.php?username=$urlvalue">$value</a>
			<!--{eval $dot='、';}-->
			<!--{/loop}-->
			</div>
		</div>
		<!--{/if}-->
	</div>
</div>
<div class="f_status s_clear">
	<a href="javascript:;" onclick="window.scrollTo(0,0);" id="a_top" title="TOP">TOP</a>
	<a href="cp.php?ac=share&type=mtag&id=$mtag[tagid]" id="a_share" onclick="ajaxmenu(event, this.id, 99999,'' , -1)">分享</a>
	<!--{if $mtag['ismember']}-->
	<a href="cp.php?ac=mtag&op=out&tagid=$mtag[tagid]" id="a_ignore" onclick="ajaxmenu(event, this.id, 99999)">退出群组</a>
	<!--{/if}-->
</div>
<!--{template footer}-->