<!--{eval $_TPL['titles'] = array('日志');}-->
<!--{template header}-->

<div class="c_header a_header">
	<a href="space.php?uid=$space[uid]"><img src="<!--{avatar($space[uid],small)}-->" alt="$space[username]" class="avatar" /></a>
	<h1>日志</h1>
	<a href="space.php?uid=$space[uid]" class="spacelink"><!--{if $space[self]}-->我<!--{else}-->$space[username]<!--{/if}-->的空间</a>
</div>

<!--{if $space[self]}-->
<div class="tabs_header">
	<a href="cp.php?ac=blog" class="t_button">发表新日志</a>
	<ul class="tabs">
		<!--{if $space[friendnum]}--><li$actives[we]><a href="space.php?uid=$space[uid]&do=$do">好友最新日志</a></li><!--{/if}-->
		<li$actives[me]><a href="space.php?uid=$space[uid]&do=$do&view=me">我的日志</a></li>
		<li$actives[trace]><a href="space.php?uid=$space[uid]&do=$do&view=trace">我踩过的日志</a></li>
		<!--{if $_SCONFIG['showall']}--><li><a href="network.php?ac=blog">大家的日志</a></li><!--{/if}-->
	</ul>
</div>
<!--{/if}-->

<div class="h_status">以发布时间为序</div>

<div class="side_right">
	<div class="wide">
		<div class="post_list <!--{if !empty($space[friend]) || $_GET['view'] == 'trace'}-->a_list<!--{/if}-->">
		<!--{if $list}-->
			<ul>
			<!--{loop $list $value}-->
				<li>
					<!--{if !empty($space[friend]) || $_GET['view'] == 'trace'}--><a href="space.php?uid=$value[uid]"><img src="<!--{avatar($value[uid],small)}-->" alt="$value[username]" class="avatar" /></a><!--{/if}-->
					<div class="title">
						<h4><a href="space.php?uid=$value[uid]&do=$do&id=$value[blogid]">$value[subject]</a></h4>
						<a href="space.php?uid=$value[uid]">$value[username]</a> <span class="time"><!--{date('Y-m-d H:i',$value[dateline],1)}--></span>
					</div>
					<div class="detail image_right l_text s_clear" id="blog_article_$value[blogid]">
						<!--{if $value[pic]}--><p class="image"><a href="space.php?uid=$value[uid]&do=blog&id=$value[blogid]"><img src="$value[pic]" alt="$value[subject]" /></a></p><!--{/if}-->
						$value[message]
					</div>
					<div class="status">
						<!--{if $classarr[$value[classid]]}-->分类: <a href="space.php?uid=$value[uid]&do=blog&classid=$value[classid]">{$classarr[$value[classid]]}</a><span class="pipe">|</span><!--{/if}-->
						<!--{if $value[viewnum]}--><a href="space.php?uid=$value[uid]&do=$do&id=$value[blogid]">$value[viewnum] 次阅读</a><span class="pipe">|</span><!--{/if}-->
						<!--{if $value[replynum]}--><a href="space.php?uid=$value[uid]&do=$do&id=$value[blogid]#comment">$value[replynum] 个评论</a><!--{else}-->没有评论<!--{/if}-->
					</div>
				</li>
			<!--{/loop}-->
			</ul>
		<!--{else}-->
			<div class="article c_form">
			还没有相关的日志。
			<!--{if $space[self]}-->您可以<a href="cp.php?ac=blog">发表自己的日志</a>。<!--{/if}-->
			</div>
		<!--{/if}-->
		</div>
		<div class="page">$multi[html]</div>
	</div>

	<div class="narrow">
	<!--{if $classarr}-->
		<ul class="post_list line_list">
		<li><a href="space.php?uid=$space[uid]&do=blog&view=me">全部日志</a></li>
		<!--{loop $classarr $classid $classname}-->
		<li>
			<a href="space.php?uid=$space[uid]&do=blog&classid=$classid">$classname</a>
			<!--{if $space[self]}-->
				<a href="cp.php?ac=class&op=edit&classid=$classid" class="float_del float_edit" id="c_edit_$classid" onclick="ajaxmenu(event, this.id, 99999, '', -1)">编辑</a>
				<a href="cp.php?ac=class&op=delete&classid=$classid" class="float_del" id="c_delete_$classid" onclick="ajaxmenu(event, this.id, 99999)">删除</a>
			<!--{/if}-->
		</li>
		<!--{/loop}-->
		</ul>
	<!--{/if}-->
		<!--{ad/rightside}--><!-- 右侧栏广告-->
	</div>
</div>
<div class="f_status f_status_w s_clear">
	<a href="javascript:;" onclick="window.scrollTo(0,0);" id="a_top" title="TOP">TOP</a>
</div>
<!--{template footer}-->