<!--{if empty($ajax_edit)}--><li id="share_$value[sid]_li"><!--{/if}-->
	<div class="title">
		<div class="r_option">
		<!--{if $value['type']=='link'}--><a href="space.php?uid=$value[uid]&do=share&id=$value[sid]">评论</a><!--{/if}-->
		<!--{if $value[uid]==$_SGLOBAL[supe_uid]}--><!--{if $value['type']=='link'}--><span class="pipe">|</span><!--{/if}--><a href="cp.php?ac=share&op=delete&sid=$value[sid]" id="s_$value[sid]_delete" onclick="ajaxmenu(event, this.id, 99999)">删除</a><!--{/if}-->
		</div>
		<a href="space.php?uid=$value[uid]">$value[username]</a> $value[title_template]
		<span class="time"><!--{date('Y-m-d H:i',$value[dateline],1)}--></span>
	</div>
	<div class="feed">
	<!--{if $value['image']}-->
	<a href="$value[image_link]"><img src="$value[image]" class="summaryimg image" alt="" width="70" /></a>
	<!--{/if}-->
	<div class="detail">
	$value[body_template]
	</div>
	<div class="quote"><span id="quote" class="q">$value[body_general]</span></div>
	</div>
<!--{if empty($ajax_edit)}--></li><!--{/if}-->