<!--{template header}-->
<!--{eval 
	//是否好友
	$space['isfriend'] = $space['self'];
	if($space['frienduid'] && in_array($_SGLOBAL['supe_uid'], explode(',', $space['frienduid']))) {
		$space['isfriend'] = 1;//是好友
	}
}-->

<div class="h_status"><span>由于 <strong>$space[username]</strong> 的隐私设置，你不能访问他（她）的该空间内容。</span></div>

<div class="d_content">
	<ul class="user_list">
		<li>
			<a href="space.php?uid=$space[uid]"><img src="<!--{avatar($space[uid],big)}-->" alt="$space[username]" class="avatar" /></a>
			<table cellspacing="0" cellpadding="0" class="infotable">
				<caption><a href="space.php?uid=$space[uid]">$space[username]</a></caption>
				<tr>
					<th width="50">居住地：</th>
					<td><a href="network.php?ac=space&resideprovince=$space[p]&residecity=&searchmode=1">$space[resideprovince]</a> <a href="network.php?ac=space&resideprovince=$space[p]&residecity=$space[c]&searchmode=1">$space[residecity]</a></td>
				</tr>
			</table>
			<ul class="actions">
				<li><a href="cp.php?ac=pm&uid=$space[uid]" id="a_pm" onclick="ajaxmenu(event, this.id, 99999, '', -1)">发短消息</a></li>
				<li><a href="cp.php?ac=poke&op=send&uid=$space[uid]" id="a_poke" onclick="ajaxmenu(event, this.id, 99999, '', -1)">打招呼</a></li>
				<li><a href="space.php?uid=$space[uid]&do=friend">查看好友列表</a></li>
				<!--{if $space['isfriend']}-->
				<li><a href="cp.php?ac=friend&op=ignore&uid=$space[uid]" id="a_ignore" onclick="ajaxmenu(event, this.id, 99999)">解除好友关系</a></li>
				<!--{else}-->
				<li><a href="cp.php?ac=friend&op=add&uid=$space[uid]" id="a_friend" onclick="ajaxmenu(event, this.id, 99999, '', -1)">加为好友</a></li>
				<!--{/if}-->
			</ul>
		</li>
	</ul>
</div>

<!--{template footer}-->
