<!--{eval $_TPL['titles'] = array('群组');}-->
<!--{template header}-->

<div class="c_header a_header">
	<a href="space.php?uid=$space[uid]"><img src="<!--{avatar($space[uid],small)}-->" alt="$space[username]" class="avatar" /></a>
	<h1>群组</h1>
	<a href="space.php?uid=$space[uid]" class="spacelink"><!--{if $space[self]}-->我<!--{else}-->$space[username]<!--{/if}-->的空间</a>
</div>

<!--{if $space[self]}-->
<div class="tabs_header">
	<a href="cp.php?ac=mtag" class="t_button">选择我的群组</a>
	<ul class="tabs">
		<li><a href="space.php?uid=$space[uid]&do=thread">最新话题</a></li>
		<li><a href="space.php?uid=$space[uid]&do=thread&view=me">我的话题</a></li>
		<!--{if $_SCONFIG['showall']}--><li><a href="network.php?ac=thread">大家的话题</a></li><!--{/if}-->
		<li$actives[me]><a href="space.php?do=mtag">我的群组</a></li>
		<li><a href="network.php?ac=mtag">热门群组</a></li>
	</ul>
</div>
<!--{/if}-->

<div class="h_status">
	群组列表
</div>

<!--{if $list}-->

<div class="box" style="padding: 10px 10px 0;">

<!--{loop $_SGLOBAL['profield'] $fieldid $fvalue}-->
<!--{if $list[$fieldid]}-->
	<h3><a href="space.php?do=mtag&id=$fieldid">{$_SGLOBAL[profield][$fieldid][title]}</a></h3>
	<table cellspacing="6" cellpadding="0" width="100%">
	<tr>
	<!--{eval $i=0;}-->
	<!--{loop $list[$fieldid] $value}-->
		<td width="50%">
			<table cellspacing="0" cellpadding="0" width="100%">
				<tr>
					<td width="55"><a href="space.php?do=mtag&tagid=$value[tagid]"><img src="$value[pic]" style="width: 48px;" /></a></td>
					<td>
						<h2 style="font-size: 14px;"><a href="space.php?do=mtag&tagid=$value[tagid]">$value[tagname]</a><a href="space.php?do=mtag&tagid=$value[tagid]&view=member" class="gray" style="font-size: 12px; font-weight: normal;">({$value[membernum]}人)</a></h2>
						<!--{if $value[moderator]}--><p class="gray">吧主: $value[moderator]</p><!--{/if}-->
					</td>
				</tr>
			</table>
		</td>
		<!--{if $i%2==1}--></tr><tr><!--{/if}-->
		<!--{eval $i++;}-->
	<!--{/loop}-->
	</tr>
	</table>
<!--{/if}-->
<!--{/loop}-->
	
</div>
<div class="page">$multi[html]</div>


<!--{else}-->
<div class="article c_form">还没有群组。您可以<a href="cp.php?ac=mtag">设置一下你的群组</a>。</div>
<!--{/if}-->
<div class="f_status s_clear">
	<a href="javascript:;" onclick="window.scrollTo(0,0);" id="a_top" title="TOP">TOP</a>
</div>
<!--{template footer}-->