<!--{eval $_TPL['titles'] = array('成绩');}-->
<!--{template header}-->
<style>post_list li { zoom: 1; }</style>
<div class="c_header a_header">
	<a href="space.php?uid=$space[uid]"><img src="<!--{avatar($space[uid],small)}-->" alt="$space[username]" class="avatar" /></a>
	<h1>成绩</h1>
	<a href="space.php?uid=$space[uid]" class="spacelink"><!--{if $space[self]}-->我<!--{else}-->$space[username]<!--{/if}-->的空间</a>
</div>

<div class="tabs_header">
	<ul class="tabs">
	    <!--{loop $terms $value}-->
		<li$actives[$value]><a href="space.php?do=score&sid=$_REQUEST['sid']&term=$value&td=$_REQUEST['td']">$value</a></li>
		<!--{/loop}-->
	</ul>
</div>

<div class="side_right" style="background-position:490px;">
	<div class="wide thread_list table_list" style="width:470px">
    	<table cellspacing="0" cellpadding="0" class="infotable">
    		<thead>
    			<tr>
                <td>#</td>
                <td>姓名</td>
                <td>课程</td> 
                <td>成绩</td> 
                <td>重考①</td>
                <td>②</td>
    			</tr>
    		</thead>
            <!--{eval $i = 0}-->
    		<!--{loop $score $value}-->
    		<tr>
                <td><!--{eval echo ++$i}--></td>
            	<td><a href="space.php?do=score&sid=$value[StudentID]&term=$thisTerm&td=$_REQUEST['td']">$value[Name]</a></td>
            	<td><a href="space.php?do=score&sid=$_REQUEST['sid']&course=<!--{eval echo rawurlencode($value[Course])}-->&term=$thisTerm&td=$_REQUEST['td']" title="$value[CourseRequire], $value[CreditHour]学分">$value[Course]</a></td>
            	<td>$value[Score]</td>
            	<td>$value[FirstScore]</td>
            	<td>$value[SecondScore]</td>
    		</tr>
    		<!--{/loop}-->
    	</table>
	</div>

	<div class="narrow" style="width:135px;">		
		<span style="font-weight:bold;">$student[Class]</span>
		<ol class="line_list classmates_list">
            <!--{loop $classmates $sn $name}-->
			<li><a href="space.php?do=score&sid=$sn&term=$thisTerm&td=$_REQUEST['td']">$name</a></li>
            <!--{/loop}-->
		</ol>
		<br />
	</div>
</div>
<!--{template footer}-->
