<!--{eval $_TPL['titles'] = array('通知');}-->
<!--{template header}-->

<div class="c_header a_header">
	<a href="space.php?uid=$space[uid]"><img src="<!--{avatar($space[uid],small)}-->" alt="$space[username]" class="avatar" /></a>
	<h1>私信</h1>
	<a href="space.php?uid=$space[uid]" class="spacelink">我的空间</a>
</div>

<div class="tabs_header">
	<a href="cp.php?ac=pm" class="t_button">发短消息</a>
	<ul class="tabs">
		<li><a href="space.php?do=pm&view=newbox">未读消息</a></li>
		<li><a href="space.php?do=pm&view=inbox">收件箱</a></li>
		<li><a href="space.php?do=pm&view=outbox">发件箱</a></li>
		<li><a href="space.php?do=pm&view=announce">公共消息</a></li>
		<li><a href="space.php?do=pm&view=ignore">忽略列表</a></li>
		<li class="active"><a href="space.php?do=notice">通知</a></li>
	</ul>
</div>

<div class="h_status">最近的通知</div>

<div class="side_right">
	<!--{if $list}-->
	<div class="wide feed">
		<ul>
		<!--{loop $list $value}-->
		<li class="type_$value[type]">
			<a class="type">&nbsp;</a>
			<h6><a href="space.php?uid=$value[authorid]">$value[author]</a> <!--{if $value[new]}--><span style="font-weight:bold;">$value[note]</span><!--{else}-->$value[note]<!--{/if}--><span class="time"><!--{date('m-d H:i',$value[dateline],1)}--></span></h6>
		</li>
		<!--{/loop}-->
		</ul>
		<div class="page">$multi[html]</div>
	</div>
	<!--{else}-->
	<div class="wide article l_text">
		没有新的通知。
	</div>
	<!--{/if}-->
	
	<div class="narrow">
		
		<ul class="post_list line_list">
			<li><a href="space.php?do=notice" style="font-weight:bold;">查看全部通知</a></li>
		<!--{loop $noticetypes $type $name}-->
			<li><a href="space.php?do=notice&type=$type">$name</a></li>
		<!--{/loop}-->
		</ul>
		<br />
	</div>
</div>
<div class="f_status s_clear">
	<a href="javascript:;" onclick="window.scrollTo(0,0);" id="a_top" title="TOP">TOP</a>
</div>
<!--{template footer}-->